{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>

    <ul>
        {% for comment in post.comments.all %}
            <li>
                <p>{{ comment.content }}</p>
                <small>{{ comment.user.username }}</small>
            </li>
        {% endfor %}
    </ul>
    {% if form %}
    <!--- HTML5 validator needed to prevent post request -->
    <form action="{% url 'blog:comment' pk=post.pk %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary">Comment</button>
    </form>
    {% endif %}
{% endblock %}
